:javascript
  var duration = 1; // track the duration of the currently playing track
  $(document).ready(function() {
      var $api = $('#api'), $rdio = $api.rdio("GBlVMAr3_____3RtczU0NGN4N2s5c2V1eWNneG5rNmQ2dHBhcnR5cXVldWUubG9jYWx0dW5uZWwubWX4sC8ZuJ1CjHvWyhDdNEa3");
      $('#api').bind('ready.rdio', function() {
          $rdio.play($('.playing_track').prop('id'), {initialPosition: $('.playing_track_request_position').prop('id')});
        });
      $('#api').bind('playingTrackChanged.rdio', function(e, playingTrack, sourcePosition) {
        if (playingTrack) {
        duration = playingTrack.duration;
        $('#art').attr('src', playingTrack.icon);
        $('#track').text(playingTrack.name);
        $('#album').text(playingTrack.album);
        $('#artist').text(playingTrack.artist);
        }
        });
      $('#api').bind('positionChanged.rdio', function(e, position) {
        $.post("/track_requests/update_playing_position/" + $('.playing_track_request_id').prop('id') +  "/" + position);
        $('#playlist').load("/music_queues/list/");
        $('#position').css('width', Math.floor(100*position/duration)+'%');
        if (position > (duration - .3)) {
          $.post("/music_queues/update_playing_track", function () {
            $('#playing').load("/music_queues/playing", function() {
              $('#playlist').load("/music_queues/list", function() {
                  $rdio.play($('.playing_track').prop('id'));
              });
            });
          });
        }
        });
      $('#api').bind('playStateChanged.rdio', function(e, playState) {
        if (playState == 0) { // paused
        $('#play').show();
        $('#pause').hide();
        } else {
        $('#play').hide();
        $('#pause').show();
        }
        });
      $('#previous').click(function() { $('#api').rdio().previous(); });
      $('#play').click(function() { $('#api').rdio().play(); });
      $('#pause').click(function() { $('#api').rdio().pause(); });
      $('#next').click(function() { $('#api').rdio().next(); });
  });
