%span{class: 'playing_track', id: "#{track.key}"}
%span{class: 'playing_track_request_id', id: "#{track_request.id}"}
%span{class: 'playing_track_request_position', id: "#{track_request.playing_position}"}
